In [7]:
import pandas as pd
from pandas import Series
import numpy as np
f = open('./task_1_zhaopin_data.csv',encoding='UTF-8') 
data = pd.read_csv(f)
f.close()

In [9]:
data.head()

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
527,高级Java开发工程师（03）,15K-20K,本科,3-5年,全职,上海复深蓝软件股份有限公司,上市公司,1000-9999人,基础编程 1、精通java和sql编程开发，熟悉java常用开发框架和类库 2、深刻...,NaN
528,Change Developer,薪资面议,本科,1-3年,全职,瑞银企业管理(中国)有限公司无锡分公司,外商独资,10000人以上,Your role We are looking for a developer to wr...,NaN
529,测试工程师,10K-15K,本科,3-5年,全职,深圳市睿服科技有限公司,股份制企业,500-999人,岗位职责： 1.参与项目产品的质量保证工作 ； 2.完成项目测试，包括：功能业务测...,NaN
530,大数据审计岗（上海）,20K-40K,本科,3-5年,全职,永辉超市股份有限公司,民营,10000人以上,1、与大数据部合作建立大数据审计平台 2、协助合伙人通过风险评估草拟年度大数据审计发展...,NaN
531,高级sas程序员,12K-15K,本科,3-5年,全职,上海盛迪医药有限公司,民营,100-499人,JobPurpose:1.?????为临床试验项目提供各种类型的数据处理和分析方面的服务，包...,NaN

In [ ]:
data.tail()

In [10]:
data.head(3)

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
0,python开发工程师,8K-10K,大专,1-3年,全职,上海蜗兴科技有限公司,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
1,Python开发工程师,15K-30K,本科,3-5年,全职,苏州复鹄电子科技有限公司,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN
2,python开发工程师,17K-30K,本科,3-5年,全职,上海心莲信息科技有限公司,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...,NaN

In [11]:
data.tail(3)

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
529,测试工程师,10K-15K,本科,3-5年,全职,深圳市睿服科技有限公司,股份制企业,500-999人,岗位职责： 1.参与项目产品的质量保证工作 ； 2.完成项目测试，包括：功能业务测...,NaN
530,大数据审计岗（上海）,20K-40K,本科,3-5年,全职,永辉超市股份有限公司,民营,10000人以上,1、与大数据部合作建立大数据审计平台 2、协助合伙人通过风险评估草拟年度大数据审计发展...,NaN
531,高级sas程序员,12K-15K,本科,3-5年,全职,上海盛迪医药有限公司,民营,100-499人,JobPurpose:1.?????为临床试验项目提供各种类型的数据处理和分析方面的服务，包...,NaN

In [13]:
data['学历要求']

0        大专
1        本科
2        本科
3        本科
4        大专
5        大专
6        本科
7        本科
8        本科
9        大专
10       本科
11       大专
12       本科
13       本科
14       本科
15       本科
16       本科
17       本科
18       本科
19       本科
20       本科
21       本科
22       本科
23       大专
24       本科
25       本科
26       本科
27       本科
28       本科
29       本科
       ...
502      本科
503      本科
504      本科
505      大专
506      本科
507      大专
508      本科
509      本科
510      大专
511      本科
512      本科
513    学历不限
514      本科
515      大专
516      本科
517      本科
518      大专
519      大专
520      本科
521      本科
522      本科
523      本科
524      大专
525      本科
526      本科
527      本科
528      本科
529      本科
530      本科
531      本科
Name: 学历要求, Length: 532, dtype: object

In [14]:
data['工作经验']

0       1-3年
1       3-5年
2       3-5年
3       1-3年
4       3-5年
5       1年以下
6         不限
7       1-3年
8       3-5年
9         不限
10      3-5年
11        不限
12      3-5年
13      3-5年
14      3-5年
15      3-5年
16     5-10年
17        不限
18      3-5年
19      3-5年
20      1-3年
21     5-10年
22      3-5年
23      3-5年
24      1-3年
25      3-5年
26      1-3年
27      1-3年
28      1-3年
29      3-5年
       ...
502     1-3年
503     1-3年
504     1-3年
505       不限
506       不限
507     3-5年
508     1-3年
509     3-5年
510     3-5年
511     3-5年
512     1-3年
513    5-10年
514      无经验
515     3-5年
516     1-3年
517     1-3年
518    10年以上
519    10年以上
520     3-5年
521     3-5年
522      无经验
523     1-3年
524     3-5年
525       不限
526       不限
527     3-5年
528     1-3年
529     3-5年
530     3-5年
531     3-5年
Name: 工作经验, Length: 532, dtype: object

In [15]:
data['是否全职']

0      全职
1      全职
2      全职
3      全职
4      全职
5      全职
6      全职
7      全职
8      全职
9      全职
10     全职
11     全职
12     全职
13     全职
14     全职
15     全职
16     全职
17     全职
18     全职
19     全职
20     全职
21     全职
22     全职
23     全职
24     全职
25     全职
26     全职
27     全职
28     全职
29     全职
       ..
502    全职
503    全职
504    全职
505    全职
506    全职
507    全职
508    全职
509    全职
510    全职
511    全职
512    全职
513    全职
514    全职
515    全职
516    全职
517    全职
518    全职
519    全职
520    全职
521    全职
522    实习
523    全职
524    全职
525    全职
526    全职
527    全职
528    全职
529    全职
530    全职
531    全职
Name: 是否全职, Length: 532, dtype: object

In [18]:
df2=data.set_index('公司名')

In [19]:
df3=df2.drop(['其他备注'],axis=1)

In [20]:
df4=df3.drop(['上海蜗兴科技有限公司'])

In [23]:
df4.to_csv('task_1_zhaopin_data_update.csv',encoding='UTF-8')